<!-- Footer -->
<footer class="w3-container w3-theme-dark w3-padding-16">
    <h3>HobbyApp - 2022</h3>
    <p>Plantillas de <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
        <a href="../cgi-bin/portada.py" class='w3-bar-item w3-button w3-theme w3-hover-theme'
            style="text-align: center;">Home</a>
        <span class="w3-text w3-theme-light w3-padding">Go To Top</span> 
        <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
                <i class="fa fa-chevron-circle-up"></i></span></a>
    </div>
</footer>