<!-- Template para crear una fila con la Información de una actividad -->


<!-- =========================INICIO DEL DOCUMENTO================================ */ -->
<!-- 0: fecha hora inicio -->
<!-- 1: fecha hora temrino -->
<!-- 2: comuna -->
<!-- 3: sector -->
<!-- 4: tema -->
<!-- 5: nombre imagen -->
<!-- 6: texto alt de imagen -->


<tr class="w3-white">
    <td>{0}</td>
    <td>{1}</td>
    <td>{2}</td>
    <td>{3}</td>
    <td>{4}</td>
    <td><img src="../media/{5}" alt="{6}" class="foto" height="150"></td>
</tr>