// grafico de barras =====================---------------------

    new Chart("barra", {
      type: "bar",
      data: {
        labels: ["Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
        datasets: [
          {
            label: "Mañana",
            backgroundColor: "rgba(116, 211, 174,1)",
            data: [41, 59, 53, 40, 44, 42, 49, 43, 7]
          },
          {
            label: "Mediodía",
            backgroundColor: "rgba(122, 156, 198,1)",
            data: [39, 33, 53, 50, 51, 56, 39, 33, 9]
          },
          {
            label: "Tarde",
            backgroundColor: "rgba(244, 156, 187,1.0)",
            data: [28, 55, 46, 50, 53, 42, 44, 48, 8]
          }
        ]
      },
      options: {
        legend: { display: true },
        title: {
          display: false,
          text: "Total de actividades mensuales según horario"
        }
      }
    });