<!-- /* Código HTML para página de recepción de formulario. 

El documento puede contener inserción de CSS y Javascript según necesidad para mayor claridad y/o simplicidad de programación.

Por Valeria Vallejos Franciscangeli 
Para CC5002- Otoño 2022 */


/* =========================INICIO DEL DOCUMENTO================================ */ -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {1}

    <script src="../js/form-actividades.js"></script>
    <link rel="stylesheet" href="../css/style-respuesta-recibida.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

    <title>HobbyApp - Formulario Recibido</title>
    <link rel="icon" href="../img/icono-nf2.png" type="image/icon"> <!-- icono-->
</head>

<body>



    <!--- links -->
    <div class="w3-bar w3-theme-light">
        <a href="../cgi-bin/portada.py" class="w3-bar-item w3-button w3-padding-16">Inicio</a>
        <a href="../cgi-bin/formulario.py" class="w3-bar-item w3-button w3-padding-16">Informar actividad</a>
        <a href=../cgi-bin/listado.py class="w3-bar-item w3-button w3-padding-16">Ver listado de Actividades</a>
        <a href=../estadisticas.html class="w3-bar-item w3-button w3-padding-16">Estadísticas</a>
    </div>


    <!-- Header -->
    <header class="w3-container w3-theme w3-padding" id="myHeader">
        <div class="w3-center">
            <h1 class="w3-xxxlarge w3-animate-bottom">HobbyApp</h1>
            <h4>Bienvenide a HobbyApp! Aquí puedes encontrar entretenidas actividades para conectarte con tu comunidad y
                crear nuevas amistades</h4>
        </div>
    </header>

    <!-- ########################################### -->
    <br> <br>
    <div class="w3-container m2 w3-light-blue">
        <div class="w3-section">
            {0}
        </div>
    </div>

    <br> <br>

    <!-- ########################################### -->
    <!-- Footer -->
    <footer class="w3-container w3-theme-dark w3-padding-16">
        <h3>HobbyApp - 2022</h3>
        <p>Plantillas de <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
            <a href="./cgi-bin/portada.py" class='w3-bar-item w3-button w3-theme w3-hover-theme'
                style="text-align: center;">Home</a>
            <span class="w3-text w3-theme-light w3-padding">Go To Top</span>
            <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
                    <i class="fa fa-chevron-circle-up"></i></span></a>
        </div>
    </footer>


</body>

</html>